#Git需要忽略的文件
debug/
release/
*.suo
*.ncb
*.sln
LTE.sln.old
LTE/Debug
LTE/Release
LTE/LTE.vcproj.8.00.old
LTE/LTE.vcproj
LTE/*.user
LTEMain/_UpgradeReport_Files
LTEMain/Debug
LTEMain/Release
LTEMain/LTEMain.vcproj
LTEMain/LTEMain.vcproj.8.00.old
LTEMain/*.user
LTEMain/UpgradeLog.XML

